# #############################
# ### West                  ###
# #############################
.west/config

# #############################
# ### Visual Studio Code    ###
# #############################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# #############################
# ### Python                ###
# #############################
.venv
__pycache__/
